body {
    background-color: #1A1A1A;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 70px 0px 0px;
}

main {
    margin-left: 10px;
}

nav {
    top: 0;
    width: 100%;
    display: block;
    position: fixed;
    z-index: 99;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(108, 60, 140);
    background-image: linear-gradient(to right, rgb(108, 60, 140), green);
    font-size: 1.1em;
    margin: auto;
}

nav ul li {
    margin: 1em 1.5em;
}

section h1 {
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 1.7em;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    padding: 1.1em;
}

a:hover {
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
}

#about {
    margin-bottom: 5em;
    font-family: monospace;
}

#about-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 700px;
}

#image-box {
    margin: 4em -2em 10em auto;
    width: 200px;
    height: 200px;
}

#image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about-box {
    width: 500px;
    background-color: #212121;
    padding: 1em;
    margin: 3em auto;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #000000;
    font-size: 1.2em;
}

#pname {
    color: #4A7FAA;
}

#pwing {
    color: #F3CD02;
}

#pblue {
    color: #85B9D4;
}

#pblue #spanred {
    color: #B0806D;
}

#pblue span {
    color: white;
}

#pblue #spangreen {
    color: #9AAF90;
}

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1em;
}

#contact a {
    padding: 0em;
    font-size: 50px;
    margin: 0.2em;
    background-color: transparent;
}

#contact a:hover {
    color: rgb(108, 60, 140);
}

#skillsdiv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    max-width: 900px;
}

#skillsdiv div {
    padding: 0px 2em;
    background-color: #212121;
    border-radius: 6px;
    box-shadow: 5px 5px 10px #000000;
    margin: 1em;
}

.projectSlideshow {
    background-color: lightgray;
    color: black;
    max-width: 700px;
    margin: 2em auto;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #000000;
    position: relative;
}

.project {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


#proj-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#proj-img img {
    margin: 1em;
}

#projects a {
    padding: 0em;
    color: black;
    font-weight: bold;
}

#projects a:hover {
    color: white;
    background-color: transparent;
}

button {
    padding: 0.8em 1.2em;
    margin: auto;
    background-color: #1A1A1A;
    border-color: #b393d3;
    border-style: solid;
    border-width: 5px;
    border-radius: 30px;
    font-size: 1em;
    font-weight: 700;
    color: #b393d3;
}

button:hover {
    color: white;
    border-color: white;
}